
<app-header></app-header>
<div class="row">
    <img class="img main" src="assets/images/food.jpg" alt="Card image cap">
</div>
<div class="container">
   
    <div class="row">
        <div class="col-md-4 card" style="width: 22rem;">
            <img class="card-img-top" src="assets/images/target.gif" alt="Card image cap">
            <div class="card-body">
                <p class="card-title"> Our Vision </p>
                <p class="card-text">
                    At RishabSoft, we envision a world where everyone has access to delicious, healthy, and customized
                    meals with just a few clicks. We aim to empower individuals and businesses alike to savor every
                    moment without compromising on the quality and variety of their meals.
                </p>
            </div>
        </div>
        <div class="col-md-4 card" style="width: 22rem;">
            <img class="card-img-top" src="assets/images/coding.gif" alt="Card image cap">
            <div class="card-body">
                <p class="card-title">Cutting-Edge Technology</p>
                <p class="card-text">
                    Our meal booking platform is built on the latest technology, ensuring a user-friendly and efficient
                    experience. From intuitive interfaces to personalized recommendations, we leverage technology to
                    make your culinary journey enjoyable and hassle-free.
                </p>
            </div>
        </div>
        <div class="col-md-4 card" style="width: 22rem;">
            <img class="card-img-top" src="assets/images/nachos.gif" alt="Easy and Fast Booking">
            <div class="card-body">
                <p class="card-title"> Easy and Fast Booking </p>
                <p class="card-text">
                    Experience the simplicity of meal booking with RishabSoft. Our platform is designed for easy and fast booking, allowing you to reserve your favorite meals in just a few clicks. Whether you're on the go or planning in advance, our user-friendly interface ensures a seamless booking process.
                </p>
            </div>
        </div>
        

    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4 card" style="width: 22rem;">
            <img class="card-img-top" src="assets/images/vegan-food.gif" alt="Quick Meal Booking">
            <div class="card-body">
                <p class="card-title"> Quick Meal Booking </p>
                <p class="card-text">
                    Enjoy the convenience of quick meal booking for the current date. At RishabSoft, we understand that life is fast-paced, and sometimes you need a delicious meal on the go. Our quick meal booking service ensures you get a delightful culinary experience without any delay.
                </p>
            </div>
        </div>

        <div class="col-md-4 card" style="width: 22rem;">
            <img class="card-img-top" src="assets/images/meal.gif" alt="Advance Booking for Bulk Orders">
            <div class="card-body">
                <p class="card-title"> Advance Booking for Bulk Orders </p>
                <p class="card-text">
                    Planning an event or catering for a group? RishabSoft offers advance booking for bulk orders, allowing you to plan your meals in advance. Our efficient service ensures that your bulk orders are prepared with care and delivered on time, making your events a delicious success.
                </p>
            </div>
        </div>

        <div class="col-md-4 card" style="width: 22rem;">
            <img class="card-img-top" src="assets/images/delivery.gif" alt="Cancellation of Booking">
            <div class="card-body">
                <p class="card-title"> Cancellation of Booking </p>
                <p class="card-text">
                    Life can be unpredictable, and plans may change. With RishabSoft, you have the flexibility to cancel your booking when needed. Our user-friendly platform allows you to manage your reservations effortlessly. Enjoy the freedom to adapt your meal plans according to your schedule.
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

