<app-header></app-header>
<div class="container">

    <div class="row">
        <div class="col-lg-6 order-lg-2 image-container">
            <img class="company-logo" src="assets/images/rishabh.webp">
        </div>
        <div class="col-lg-6 order-lg-1">
            <h2 class="text-center mb-4">Terms and Conditions</h2>

            <p><strong>Last Updated: 20-05-2024</strong></p>
<hr>
            <p>
                Welcome to Rishabh Software! These terms and conditions outline the rules and regulations for the use of
                Rishabh Software's Website, located at www.rishabhsoftware.com.
            </p>

            <!-- Include your terms and conditions content here -->

            <p>
                By accessing this website, we assume you accept these terms and conditions. Do not continue to use
                Rishabh Software if you do not agree to take all of the terms and conditions stated on this page.
            </p>
<hr>
            <h3><strong>Cookies</strong></h3>

            <p>We employ the use of cookies. By accessing Meak Booking, you agreed to use cookies in agreement with the
                Rishab Software's Privacy Policy.</p>

            <p>Most interactive websites use cookies to let us retrieve the user's details for each visit. Cookies are
                used by our website to enable the functionality of certain areas to make it easier for people visiting
                our website. Some of our affiliate/advertising partners may also use cookies.</p>
<hr>
            <h3><strong>License</strong></h3>

            <p>Unless otherwise stated, Rishab Software and/or its licensors own the intellectual property rights for
                all material on Meak Booking. All intellectual property rights are reserved. You may access this from
                Meak Booking for your own personal use subjected to restrictions set in these terms and conditions.</p>

            <h3>You Don't</h3>
            <ul>
                <li>Republish material from Meak Booking</li>
                <li>Sell, rent, or sub-license material from Meak Booking</li>
                <li>Reproduce, duplicate, or copy material from Meak Booking</li>
                <li>Redistribute content from Meak Booking</li>
            </ul>
<hr>
            <!-- Checkbox for agreement -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="agreeCheckbox">
                <label class="custom-control-label" for="agreeCheckbox">I agree to the terms and conditions</label>
            </div>
        </div>
    </div>
</div>

