<div class="main">
  <section class="otp-content">
    <div class="otp-content-lt"></div>
    <div class="otp-content-rt">
      <div class="otp-box">
        <form class="otp-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="logo-wrapper">
            <img src="../../assets/Images/logo.svg" alt="Rishabh Software">
            <span>Meal Facility</span>
          </div>
          <h3 class="otp-head">New Password</h3>
          <p class="otp-text">Create new password for your account.</p>

          <div class="form-group">

            <label class="control-label">Password</label>
            <mat-form-field class="example-full-width" appearance="fill">
              <input matInput placeholder="Password" id="newPassword" formControlName="newPassword"
                [type]="hidePassword ? 'password' : 'text'">
              <mat-icon matSuffix class="visibility-icon" (click)="toggleVisibility()">{{ hidePassword ?
                'visibility_off' : 'visibility' }}</mat-icon>
            </mat-form-field>

            <div class="required"
              *ngIf="resetPasswordForm.controls['newPassword'].invalid && (resetPasswordForm.controls['newPassword'].dirty || resetPasswordForm.controls['newPassword'].touched)">
              <div class="required" *ngIf="resetPasswordForm.controls['newPassword'].errors?.['required']">Password is
                required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Confirm Password</label>
            <mat-form-field class="example-full-width" appearance="fill">
              <input matInput placeholder="Password" id="confirmPassword" formControlName="confirmPassword"
                [type]="hidePassword ? 'password' : 'text'">
              <mat-icon matSuffix class="visibility-icon" (click)="toggleVisibility()">{{ hidePassword ?
                'visibility_off' : 'visibility' }}</mat-icon>
            </mat-form-field>

            <div
              *ngIf="resetPasswordForm.controls['confirmPassword'].invalid && (resetPasswordForm.controls['confirmPassword'].dirty || resetPasswordForm.controls['confirmPassword'].touched)">
              <div class="required" *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['required']">Confirm
                Password is required.
              </div>
              <div class="confirm" *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['confirm']">Passwords
                do not match.</div>
            </div>
          </div>

          <div class="form-group btn-container">
            <button (click)="onSubmit()" type="submit" class="btn btn-xl btn-primary" mat-raised-button color="primary"
              [disabled]="resetPasswordForm.invalid">
              Reset Password
            </button>
          </div>
          
        </form>
      </div>
    </div>