<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-lg-6 order-lg-2 image-container">
            <img class="company-logo" src="assets/images/rishabh.webp" alt="Rishabh Software Logo">
        </div>
        <div class="col-lg-6 order-lg-1">
            <h2 class="text-center mb-4">Privacy Policy</h2>

            <p><strong>Last Updated: 20-05-2024</strong></p>
<hr>
            <p>
                Welcome to Rishabh Software! This Privacy Policy outlines how Rishabh Software collects, uses, and protects your personal information when you use our Meal Booking website, located at www.rishabhsoftware.com.
            </p>
<hr>
            <h3><strong>Information We Collect</strong></h3>

            <p>We may collect the following types of personal information:</p>

            <ul>
                <li>Contact information (such as name and email address)</li>
                <li>Your Employee Id </li>
                <li>Preferences and feedback</li>
            </ul>
<hr>
            <h3><strong>How We Use Your Information</strong></h3>

            <p>We use the collected information for the following purposes:</p>

            <ul>
                <li>To process and fulfill your meal bookings</li>
                <li>To communicate with you about your orders and account</li>
                <li>To improve our services and website</li>
            </ul>
<hr>
            <h3><strong>Information Security</strong></h3>

            <p>We take appropriate measures to protect your personal information from unauthorized access, disclosure, alteration, and destruction.</p>

           
<hr>
           
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="agreeCheckbox">
                <label class="custom-control-label" for="agreeCheckbox" routerLink="/home">I agree to the privacy policy</label>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

