<div class="main">
  <section class="forgot-content">
    <div class="forgot-content-lt"></div>
    <div class="forgot-content-rt">
      <div class="forgot-box">
        <form [formGroup]="forgotFrom">
          <div class="logo-wrapper">
            <img src="../../assets/Images/logo.svg" alt="Rishabh Software" />
            <span>Meal Facility</span>
          </div>
          <h3 class="forgot-head">Forgot Password</h3>
          <p class="forgot-text">
            Enter your Email address to forgot password.
          </p>
        
          <div class="form-group">
            <label class="control-label">Email</label><br>
            <mat-form-field class="example-full-width" appearance="fill">
              <input matInput placeholder="Email" id="email" formControlName="email" type="email">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <div
              *ngIf="forgotFrom.controls['email'].invalid && (forgotFrom.controls['email'].dirty || forgotFrom.controls['email'].touched)">
              <div class="required" *ngIf="forgotFrom.controls['email'].errors?.['required']">Email is required.</div>
              <div class="invalid" *ngIf="forgotFrom.controls['email'].errors?.['email']">Email is invalid.</div>
            </div>
          </div>
 
          <div class="form-group btn-container">

            <button (click)="onSubmit()" type="submit" class="btn btn-xl btn-primary" mat-raised-button color="primary"
              [disabled]="forgotFrom.invalid">
              Generate OTP
            </button>
          </div>
    
        </form>
      </div>
    </div>
  </section>
</div>